# ─── Frontend Environment Variables ──────────────────────────────────────────
# Set your deployed Backend URL here in Vercel project settings:
REACT_APP_API_URL=https://dentalcarebackend-42qo0wu3.b4a.run
CI=false
GENERATE_SOURCEMAP=false
